<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{  url_for('static', filename = 'css/Main_Tesla.css')  }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <!-- <a href="/index.html"><img src="/img/header/arrow.png" alt="arrow"></a> -->
        <h1 class="header-title">Tesla</h1>
        <p class="sub-title">Автомобильная компания созданная <a href="/Elon_Musk">Илоном</a></p>
        <!-- <div class="header-arrow">
            <img src="./img/header/header-arrow.png" alt="Arrow">
        </div> -->

    </div>

    <div class="entrepreneur">
        
        <div class="container">
            <h2 class="entrepreneur_header">Всё про Tesla</h2>
            <!-- portfolio_card_wrapper -->
            <div class="entrepreneur_card_wrapper"> 

                <!-- card -->
                <div class="card">
                    <a href="/Elon_Musk/Tesla/Models" class="button_entrepreneur">
                        <img class="card_img" src="./../../../static/img/Elon_Mask/Tesla.jpg" alt="Models">
                        <h3 class="card_title"> Все автомобили Tesla </h3>
                        <p>Model S, Model 3, Model X, Model Y, roadster, Semi и CyberTrack.</p>
                    </a>
                    <!-- <img class="card_img" src="./img/entrepreneur/Elon_Mask.jpg" alt="Илон Маск">
                    <h3 class="card_title"> Илон Маск </h3>
                    <p>Предприниматель</p> -->
                </div>
                 <!-- //card -->

                 <!-- card -->
                <div class="card">
                        <img class="card_img" src="./../../../static/img/Elon_Mask/Tesla/Tesla_energy.avif" alt="tesla_energy">
                        <h3 class="card_title"> Tesla energy </h3>
                        <p> Разрабатывает, производит, продает и устанавливает фотоэлектрические системы выработки солнечной энергии, продукты для хранения энергии на батареях.</p>
                </div>
                 <!-- //card -->

                 <!-- card -->
                <div class="card">
                        <img class="card_img" src="./../../../static/img/Elon_Mask/Tesla/History.jpg" alt="History">
                        <h3 class="card_title"> Про Историю Tesla </h3>
                        <p>Компания была основана в июле 2003 года Мартином Эберхардом и Марком Тарпеннингом. И в дальнейшем выкуплина Илоном.</p>
                </div>
                 <!-- //card -->

                 <!-- card -->
                <div class="card">
                        <img class="card_img" src="./../../../static/img/Elon_Mask/Tesla/Tesla_Bot.jpg" alt="Tesla_Bot">
                        <h3 class="card_title"> tesla bot optimus </h3>
                        <p>Был концепт предоставлен в начале 2021 года. А 31 сентября был представлен прототип.</p>
                </div>
                 <!-- //card -->

                </div>
            <!-- //portfolio_card_wrapper -->

           
            
        </div>
    </div>
 
    <div class="footer">
        <div class="container">
            <div class="footer_row">
                
                <div class="footer_copyright">
                    <div class="footer_copyright_name">@ Илья Забугин</div>
                    <p>Html и Разработка сайтов</p>
                </div>

                <div class="footer_icons">
                    <p>Мои профили в социальных сетях</p>
                    <div class="footer_row_icons">
                        <a href="#">
                            <img src="./../../../static/img/footer/github_footer.png" alt="">
                        </a>
                        <a href="https://vk.com/zabugin0">
                            <img src="./../../../static/img/footer/vk_footer.png" alt="">
                        </a>
                    </div>
                </div>
                 
                <div class="footer_contacts">
                    <a href="https://vk.com/zabugin0" class="footer_button">
                        Связаться Вконтакте
                    </a>
                    <p>Напиши мне, чтобы заказать или узнать стоимость верстки вашего проекта.</p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>